@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h4, p, li {
    font-family: "Playwrite DK Loopet", cursive;
}
h {
    font-family: sans-serif;
}

nav, footer {
    font-family: "Playwrite DK Loopet", cursive;
}

nav {
    border-bottom: 2px solid black;
}

main{
    flex-grow: 1;
}

.img-category {
    width: 100%;
    aspect-ratio:  1/1;
    object-fit: cover;
}

.wh-css {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.img-cuadrada {

    position: relative;
    width: 100%;
    padding-top: 100%; /* Mantiene la proporción cuadrada */
    overflow: hidden;
}

.zoom-hover {
  transition: transform 0.3s ease;
}

.zoom-hover:hover {
  transform: scale(1.05);
}

.img-ingredientes {
    width: 100%;
    height: 500px;
}

.page404-css {
    width: 600px;
    height: 600px;
}

@media (max-width: 767px) {
    .page404-css {
        width: 350px;
        height: 350px;
    }
  
}

.color-body {
    background-color: rgb(255, 228, 196);
}


.imagen-grilla {
  height: 200px; /* o el alto que prefieras */
  object-fit: cover;
  width: 100%;
}