body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}

.img-category {
    width: 100%;
    aspect-ratio:  1/1;
    object-fit: cover;
}

.wh-css {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.img-cuadrada {

    position: relative;
    width: 100%;
    padding-top: 100%; /* Mantiene la proporción cuadrada */
    overflow: hidden;
}

.zoom-hover {
  transition: transform 0.3s ease;
}

.zoom-hover:hover {
  transform: scale(1.05);
}

.img-ingredientes {
    width: 100%;
    height: 500px;
}

.page404-css {
    width: 600px;
    height: 600px;
}

@media (max-width: 767px) {
    .page404-css {
        width: 350px;
        height: 350px;
    }
  
}

.color-body {
    background-color: rgb(255, 228, 196);
}